@media only screen and (max-width : 1200px) {

	..packages__wrapper{
		position: relative;
	}
 	
 	.header__content nav {
    padding-right: 10px;
	}
	
	.header__content nav ul li{
		margin-right: 30px;
	}

	.packages .next{
		display: block;
		top: 15%;
	}

	.packages .prev{
		display: block;
		top: 15%;
	}
}

@media only screen and (max-width : 992px) {

	.banner__content h1{
		font-size: 40px;
	}

	.map__contnent .man{
		display: none;
	}

	.request__wrap{
		display: block;
	}

	.request__wrap .request{
		margin: 0 auto;
	}

	.join__content form {
    display: block;
	}

	.join__content form input, .join__content form a {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
		width: 280px;
	}



	.service__advantages .robot{
		width: 100%;
		display: block;
		margin: 0 auto;
		order:3;
	}

	.service__advantages .description{
		max-width:100%;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 80px;
		padding: 0 20px;
		order:2;
	}

	.description span p{
		margin-bottom: 20px;
		font-size: 22px;
	}
}

@media only screen and (max-width : 900px) {

	.header__content nav {
		display: none;
    	width: 100%;
    	position: absolute;
    	left: 0;
    	top: 120px;
    	min-height:100px;
    	background-color:rgba(70,61,115,0.9);

	}

	.header__content nav ul{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		padding: 10px;
		padding-top: 40px;
	}

	.header__content .mobile__nav{
		display: flex;
	}
}

@media only screen and (max-width : 768px) {

		.advantages__content {
	    background-color: #fff;
	    border-radius: 25px;
	    padding: 25px 40px 20px 30px;
	}

	.header__content nav ul li{
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	
}

@media only screen and (max-width : 640px) {

	.banner__content h1{
		font-size: 30px;
	}
}

@media only screen and (max-width : 480px) {

	.banner__content h1{
		font-size: 24px;
	}

	.footer__confidence{
		width: 100%;
	}

	.footer__confidence span{
		text-align: center;
		display: block;
		margin: 0;
		margin-bottom: 20px;
	}

	.footer__tel{
		width: 100%;
		text-align: center;
	}
	
	.request{
		width: 95%;
		padding:30px 15px;
		margin-bottom: 60px;
	}

	.request a{
		width: 100%;
	}

	.banner__content{
		padding-top: 50px;
	}

	.service__content{
		padding-top: 50px;
	}

	.items__content .items .item:after{

		right: 20px;
	}

	.items__content .items .item span{
		padding-top: 100px;
	}
}